<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo('Agendamentos')}"></div>

	<div class="container">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 p-1">
	<div class="navbar-nav">
	<a class="nav-itm nav-link" href="/adm">Menu Principal</a>
	<a class="nav-itm nav-link active" href="cadastrar">Cadastrar</a>
	<a class="nav-itm nav-link" href="alterar">Alterar</a>
	<a class="nav-itm nav-link" href="deletar">Deletar</a>
	<a class="nav-itm nav-link" href="consultar">Consultar</a>
	</div>
	</nav>
		
		
		<div class="card mt-3 mb-3">
		<form class="card-body" action="/agendamento/novo" method="post">
			
   	
   <div class="form-row">
    <div class="form-group col-md-4" >
      <label for="Cliente">Cliente</label>
     <select autofocus action="/agendamento/buscaCliente" method="get" name="cliente" class="form-control" >
      <option value="-1">Selecione o Cliente</option>
      <option th:Each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
      
  	
</select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Barbeiro</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
     <div class="form-group col-md-4">
      <label for="inputState">Serviço</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>  
  <div class="form-row">
   <div class="form-group col-md-3">
     		 <label for="dataNascimento">Data e Hora</label>
			<input type="datetime-local" name="dataNascimento" class="form-control" />
			<small>Informe a data de nascimento do cliente</small>	
    </div>
    <div class="form-group col-md-3">
     		 <label for="valor">Valor</label>
			<input name="valor" class="form-control" placeholder="999,00"/>
			<small>Informe o valor</small>
    </div>
     <div class="form-group col-md-6">
        <label for="observacao">Observação</label>
		<textarea type="text" name="observacao" class="form-control" placeholder="observação"></textarea>
		<small>Informe a observação.</small>
    </div>
  </div>   	
			<button class="btn btn-primary" type="submit">Cadastrar</button>
			
		</form>
	</div>	
	</div>
	<footer th:replace="~{base :: footer}"></footer>
</body>
</html>