<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>
<meta charset="UTF-8">


<body>
<div th:replace="~{base :: logo('Agendamentos')}"></div>

	<div class="container">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 p-1">
	<div class="navbar-nav">
	<a class="nav-itm nav-link" href="/adm">Menu Principal</a>
	<a class="nav-itm nav-link" href="cadastrar">Cadastrar</a>
	<a class="nav-itm nav-link active" href="alterar">Alterar</a>
	<a class="nav-itm nav-link" href="deletar">Deletar</a>
	<a class="nav-itm nav-link" href="consultar">Consultar</a>
	</div>
	</nav>
		
		<div class="card mt-1">
		
		<div class="card" >
		
		<div class="card-header mt-0 mb-0 p-2">Lista de Usuários</div>
		<div class="card-body ml-3 mt-0 p-1 mr-2">		
		<ul class="list-group list-group-flush " th:each="agendamento : agendamentos">
		<div class="row mt-0 p-1">
		<li class="list-group-item col-md-1 p-0">Id: <span th:text="${agendamento.svalor}"></span></li>
		<li class="list-group-item col-md-11 p-0">Username: <span ></span></li>		
    	</div>
  </ul>
		
	</div>
		
		
		<footer th:replace="~{base :: footer}"></footer>
		
	
</body>
</html>