<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agendamentos</title>
</head>
<body>

<div class="container">
	<div class="card" th:each="agendamento : ${agendamentos}">
		
		<div class="card-header">Adriano Pavaneli</div>
		<div class="card-body">
		
		<ul class="list-group list-group-flush">
		<div class="row">
		<li class="list-group-item col-md-4">Valor: <span th:text="${agendamento.valor}">25,00</span></li>
   		 <li class="list-group-item col-md-8">Horario: <span th:text="${agendamento.data}">23/10/2022 15:00</span></li>
    </div>
    <div class="row">
    	<li class="list-group-item col-md-4">Barbeiro: <span>Renato</span></li> 
    	 <li class="list-group-item col-md-8">Serviço: <span>Barba</span></li> 
    	 </div> 
    	<div class="row">
    	<li class="list-group-item col-md-2" >Observação: </li>
    	<li class="list-group-item col-md-10" th:text="${agendamento.observacao}"></li>
    	</div>
  </ul>
		
		</div>
		
		
		
		
	
		
			
		
</div>
	</div>
</body>
</html>